// color
$base: #fafaf8;
$main: #f99549;
$sub: #33abcc;
$text: #444444;
$base_btn_shadow: #F0F0EE;
$main_btn_shadow:#E58943;
$accent_btn_shadow: #309EBF;
$drop_shadow: rgba(68, 68, 68, 0.25);

// font-size
$xxl: 3.2rem;
$xl: 2.4rem;
$lg: 2rem;
$md: 1.6rem;
$sm: 1.2rem;


