@use '../styles/common' as *;

.font-color {
    color: $main;
};

.image-placeholder {
    width: 200px; // 幅
    height: 200px; // 高さ
    background-color: #ddd; 
    border: 2px dashed #aaa; // 点線
}