@use '../styles/common.scss' as *;

.wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

//背景画像
.backImage {
    background-image: url('../assets/quest_playing_background.png');
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    position: absolute;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;

    //ressを使う時はフォントサイズをremに！！
    //戻るボタンとテキストボタンの親
    .top_element {
        display: flex;
        gap: 45px;
        // margin-top: 27px; marginの折りたたみが発生するのでpaddingに変更
        padding-top: 27px;
        margin-left: 14px;
    }

    //戻るボタン
    .arrow_back {
        margin-top: -10px;
        filter: drop-shadow(0 0 16px rgba(68, 68, 68, 0.25))
    }

    //上部テキスト
    .text_quest {
        color: $base;
        font-size: 2.4rem;
        font-weight: bold;
        filter: drop-shadow(0 0 16px rgba(68, 68, 68, 0.25))
    }

    //キャラクター
    .image_placeholder {
        margin: 0 auto;
        width: 300px;
        text-align: center; //imgはインライン要素なので親のdivに指定すれば真ん中に来る
        margin-top: 10px;

    }

    //吹き出し配置
    .fukidashi {
        width: 100%;
        display: flex;
        justify-content: center; // 横中央揃え
        // text-align: center;
        margin-top: 40px;
    }

    //吹き出し本体
    .speechBubble {
        position: relative;
        display: inline-block;
        width: 280px;
        margin-bottom: 20px;
        padding: 10px 20px;
        border: 2px solid #d9d9d9;
        border-radius: 24px;
        background-color: #fafaf8;
        // text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        align-items: flex-start; // 左寄せ
    }

    .speechBubble::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 19%;
        border-style: solid;
        border-width: 20px 0 0 20px;
        border-color: #d9d9d9 transparent transparent;
        translate: -50% 100%;
        transform: skew(9deg);
        transform-origin: top;
    }

    .speechBubble::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 19%;
        border-style: solid;
        border-width: 15.2px 0 0 15.2px;
        border-color: #fafaf8 transparent transparent;
        translate: calc(-50% + 0.4px) 100%;
        transform: skew(9deg);
        transform-origin: top;
    }

    .left_text {
        align-items: flex-start; // 左寄せ
    }

    .right_text {
        align-self: flex-end;
        text-align: right;
    }

    //吹き出し内の太文字テキスト
    .texxt_accent {
        font-weight: 800;
        color: $text;
        font-size: $xl;
    }


    //クエストクリアorクエスト失敗に遷移するボタン
    .button_arrangement {
        text-align: center;
        margin-top: 65px;
    }


    //ローディング
    .loader {
        margin-left: 60px;
        margin-bottom: 60px; //後で綺麗に整える
        --w: 10ch;
        font-weight: bold;
        font-family: monospace;
        font-size: 30px;
        line-height: 1.4em;
        letter-spacing: var(--w);
        width: var(--w);
        overflow: hidden;
        white-space: nowrap;
        color: $base;
        text-shadow:
            calc(0*var(--w)) 0 $base, calc(-1*var(--w)) 0 $base, calc(-2*var(--w)) 0 $base, calc(-3*var(--w)) 0 $base, calc(-4*var(--w)) 0 $base,
            calc(-5*var(--w)) 0 $base, calc(-6*var(--w)) 0 $base, calc(-7*var(--w)) 0 $base, calc(-8*var(--w)) 0 $base, calc(-9*var(--w)) 0 $base;
        animation: l20 2s infinite linear;
        // filter: drop-shadow(0 0 4px rgba(68, 68, 68, 0.25))
    }

    .loader:before {
        content: "Loading...";
        z-index: 1001;
    }

    @keyframes l20 {
        9.09% {
            text-shadow:
                calc(0*var(--w)) -10px $base, calc(-1*var(--w)) 0 $base, calc(-2*var(--w)) 0 $base, calc(-3*var(--w)) 0 $base, calc(-4*var(--w)) 0 $base,
                calc(-5*var(--w)) 0 $base, calc(-6*var(--w)) 0 $base, calc(-7*var(--w)) 0 $base, calc(-8*var(--w)) 0 $base, calc(-9*var(--w)) 0 $base
        }

        18.18% {
            text-shadow:
                calc(0*var(--w)) 0 $base, calc(-1*var(--w)) -10px $base, calc(-2*var(--w)) 0 $base, calc(-3*var(--w)) 0 $base, calc(-4*var(--w)) 0 $base,
                calc(-5*var(--w)) 0 $base, calc(-6*var(--w)) 0 $base, calc(-7*var(--w)) 0 $base, calc(-8*var(--w)) 0 $base, calc(-9*var(--w)) 0 $base
        }

        27.27% {
            text-shadow:
                calc(0*var(--w)) 0 $base, calc(-1*var(--w)) 0 $base, calc(-2*var(--w)) -10px $base, calc(-3*var(--w)) 0 $base, calc(-4*var(--w)) 0 $base,
                calc(-5*var(--w)) 0 $base, calc(-6*var(--w)) 0 $base, calc(-7*var(--w)) 0 $base, calc(-8*var(--w)) 0 $base, calc(-9*var(--w)) 0 $base
        }

        36.36% {
            text-shadow:
                calc(0*var(--w)) 0 $base, calc(-1*var(--w)) 0 $base, calc(-2*var(--w)) 0 $base, calc(-3*var(--w)) -10px $base, calc(-4*var(--w)) 0 $base,
                calc(-5*var(--w)) 0 $base, calc(-6*var(--w)) 0 $base, calc(-7*var(--w)) 0 $base, calc(-8*var(--w)) 0 $base, calc(-9*var(--w)) 0 $base
        }

        45.45% {
            text-shadow:
                calc(0*var(--w)) 0 $base, calc(-1*var(--w)) 0 $base, calc(-2*var(--w)) 0 $base, calc(-3*var(--w)) 0 $base, calc(-4*var(--w)) -10px $base,
                calc(-5*var(--w)) 0 $base, calc(-6*var(--w)) 0 $base, calc(-7*var(--w)) 0 $base, calc(-8*var(--w)) 0 $base, calc(-9*var(--w)) 0 $base
        }

        54.54% {
            text-shadow:
                calc(0*var(--w)) 0 $base, calc(-1*var(--w)) 0 $base, calc(-2*var(--w)) 0 $base, calc(-3*var(--w)) 0 $base, calc(-4*var(--w)) 0 $base,
                calc(-5*var(--w)) -10px $base, calc(-6*var(--w)) 0 $base, calc(-7*var(--w)) 0 $base, calc(-8*var(--w)) 0 $base, calc(-9*var(--w)) 0 $base
        }

        63.63% {
            text-shadow:
                calc(0*var(--w)) 0 $base, calc(-1*var(--w)) 0 $base, calc(-2*var(--w)) 0 $base, calc(-3*var(--w)) 0 $base, calc(-4*var(--w)) 0 $base,
                calc(-5*var(--w)) 0 $base, calc(-6*var(--w)) -10px $base, calc(-7*var(--w)) 0 $base, calc(-8*var(--w)) 0 $base, calc(-9*var(--w)) 0 $base
        }

        72.72% {
            text-shadow:
                calc(0*var(--w)) 0 $base, calc(-1*var(--w)) 0 $base, calc(-2*var(--w)) 0 $base, calc(-3*var(--w)) 0 $base, calc(-4*var(--w)) 0 $base,
                calc(-5*var(--w)) 0 $base, calc(-6*var(--w)) 0 $base, calc(-7*var(--w)) -10px $base, calc(-8*var(--w)) 0 $base, calc(-9*var(--w)) 0 $base
        }

        81.81% {
            text-shadow:
                calc(0*var(--w)) 0 $base, calc(-1*var(--w)) 0 $base, calc(-2*var(--w)) 0 $base, calc(-3*var(--w)) 0 $base, calc(-4*var(--w)) 0 $base,
                calc(-5*var(--w)) 0 $base, calc(-6*var(--w)) 0 $base, calc(-7*var(--w)) 0 $base, calc(-8*var(--w)) -10px $base, calc(-9*var(--w)) 0 $base
        }

        90.90% {
            text-shadow:
                calc(0*var(--w)) 0 $base, calc(-1*var(--w)) 0 $base, calc(-2*var(--w)) 0 $base, calc(-3*var(--w)) 0 $base, calc(-4*var(--w)) 0 $base,
                calc(-5*var(--w)) 0 $base, calc(-6*var(--w)) 0 $base, calc(-7*var(--w)) 0 $base, calc(-8*var(--w)) 0 $base, calc(-9*var(--w)) -10px $base
        }
    }

    .loading_overlay {
        position: fixed; // 画面全体にかぶせる
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none; // 下のコンテンツに干渉しない


        // 背景レイヤー（ぼかす）
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../assets/quest_playing_background.png');
            background-size: cover;
            background-position: center;
            filter: blur(8px);
            z-index: -1;
        }

    }

}