@use '../styles/common.scss' as *;

//ressを使う時はフォントサイズをremに！！
//戻るボタンとテキストボタンの親
.top-element {
    display: flex;
    gap: 60px;
    margin-top: 27px;
    margin-left: 16px;
}

.text-quest {
    color: $sub;
    font-size: 2.4rem;
    font-weight: bold;
}


.image-placeholder {
    margin: 0 auto;
    width: 300px;
    text-align: center; //imgはインライン要素なので親のdivに指定すれば真ん中に来る
    margin-top: 20px;

}

.fukidashi {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

//吹き出し
.speechBubble {
    position: relative;
    display: inline-block;
    width: 280px;
    margin-bottom: 20px;
    padding: 18px 26px;
    border: 2px solid #d9d9d9;
    border-radius: 24px;
    background-color: #fafaf8;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
}

.speechBubble::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 19%;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: #d9d9d9 transparent transparent;
    translate: -50% 100%;
    transform: skew(9deg);
    transform-origin: top;
}

.speechBubble::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 19%;
    border-style: solid;
    border-width: 15.2px 0 0 15.2px;
    border-color: #fafaf8 transparent transparent;
    translate: calc(-50% + 0.4px) 100%;
    transform: skew(9deg);
    transform-origin: top;
}